<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpFileServer">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" transactionFlow="true">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:53727/Service1.svc" binding="netTcpBinding"
        contract="File_Server.IService1" name="NetTcpFileServer_IService1" />
      <endpoint address="http://espl-l-1088.espl-c-310.educesolutions.com/DOEV8E-1A_fileSever/Service1.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
        contract="File_Server.IService1" name="WSHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>