<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalcService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICalcService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.81/CalcService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalcService" contract="Process_Word_Document.ICalcService" name="BasicHttpBinding_ICalcService" />
            <endpoint address="net.tcp://192.168.1.81/CalcService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalcService" contract="Process_Word_Document.ICalcService" name="NetTcpBinding_ICalcService">
                <identity>
                    <servicePrincipalName value="host/ESPL-C-827.espl-c-310.educesolutions.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3450.0.45" newVersion="19.3450.0.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3450.0.45" newVersion="19.3450.0.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.OfficeChart.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3450.0.45" newVersion="19.3450.0.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>