<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="MyFileServer.Service1">
                <endpoint address="net.tcp://53727" binding="netTcpBinding" bindingConfiguration=""
                    contract="MyFileServer.IService1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>