<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="eDocsDN_File_Server_Operations.ClsFile_Server_Operations">
                <endpoint address="net.tcp://localhost:61516/clsFile_Operations"
                    binding="netTcpBinding" bindingConfiguration="" contract="File_Server.IFile_Operations" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://ESPL-L-1088/service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>