<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MyFileServer.Service1"
                behaviorConfiguration="MyServiceBehavior">
        <endpoint
             binding="netTcpBinding"
             bindingConfiguration="NetTcpBinding"
             contract="MyFileServer.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.106/MyFileServer" />
          </baseAddresses>
        </host>
        

        <!--<endpoint name="MyEndPoint"
                  address="http://localhost:53727/Service"
                  binding="basicHttpBinding"
                  bindingConfiguration="EndPointConfiguration"
                  contract="MyFileServer.IService1"
                 />-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:53727/Service"/>
          </baseAddresses>
        </host>-->
      </service>
      <!--<service name="MyFileServer.Service1">
        <endpoint
             binding="netTcpBinding"
             bindingConfiguration="EndPointConfigurationtcp"
             contract="MyFileServer.IService1"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:53727/MyFileServer"/>
          </baseAddresses>
        </host>
      </service>-->

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="65536" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="EndPointConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text"
                 sendTimeout="00:01:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding"
               sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <serviceHostingEnvironment   aspNetCompatibilityEnabled="true" >
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
